.hitcount{float:right;position:relative;margin-right:10px;margin-top:10px}.hitcount strong{font-size:18px}
.spacer{padding-bottom:110px}
.block{display:block}
.fullscreen{z-index:9999;width:100%;height:100%;position:fixed;top:0;left:0}
.centered{text-align:center;margin-right:auto;margin-left:auto}
#detail_Title{font-family:'Courgette',cursive}
#detail_Modal{margin-top:60px;background:#e3e3e3;position:absolute;height:100%;box-shadow:0 20px 50px #808080}
.mdl-layout__drawer{z-index:1000}
#modal_close{text-align:right;position:absolute;top:40px;right:40px;font-size:4em;color:#808080}
#modal_close:hover{color:#00f}
.Recipe_Card{margin-bottom:20px;margin-right:20px;height:100px;width:300px;align-contents:center}
