.hitcount{float:right;position:relative;margin-right:10px;margin-top:10px}.hitcount strong{font-size:18px}
.spacer{padding-bottom:110px}
.block{display:block}
.fullscreen{z-index:9999;width:100%;height:100%;position:fixed;top:0;left:0}
.centered{text-align:center;margin-right:auto;margin-left:auto}
#detail_Title{font-family:'Courgette',cursive}
#detail_Modal{background:#f5f5f5;height:calc(36%)}
.hidden{visibility:hidden}
