
<div class="centered fullscreen" id="detail_Modal" >
<a href="browse.html#/" id="modal_close">&times</a>
<button style=""class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Order
</button>
	<h1 id="detail_Title" style="color:rgb(0,150,136)" class="centered">{{drink.name}}</h1>
	<h2 id="detail_Title" style="color:rgb(255,82,82)" class="centered">{{drink.author}}</h2>
	<h3 class="centered">{{drink.author}}</h3>
	<p class="centered"></p>
	<div class="mdl-grid" >
		<div class="mdl-cell mdl-cell--6-col">
		<h3>Ingredients</h3>
		<div ng-init="replace(ingr.Type)" ng-repeat="ingr in drink.ingredients">
			<h4>{{ingr.amount}}mL of {{ingr.name}}</h4> 
		</div>
		</div>
				<div class="mdl-cell mdl-cell--6-col">
				<h3>Steps</h3>
				<ul style="width:200px;margin:0 auto;text-align:left;list-style-type:decimal">
					<li  ng-repeat="step in drink.instructions">

						<h4>{{step.text}}</h4>
					</li>
				</ul></div>
		</div>

<!-- Accent-colored raised button with ripple -->


</div>