<a href="#/"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Back
</a>
<h2>Edit Drink</h2>

<form action="" style="align-items: center; padding-left:calc(50% - 150px)">
<div class="mdl-textfield mdl-js-textfield block">
    <input ng-model="drink._id" class="mdl-textfield__input" disabled type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">ID - Will be automatically assigned</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield block">
    <input ng-model="drink.name" class="mdl-textfield__input" type="text" id="sample1" ng-model="name">
    <label class="mdl-textfield__label" for="sample1">Name - String</label>
  </div>


    <div class="mdl-textfield mdl-js-textfield block">
    <input ng-model="drink.author" class="mdl-textfield__input" type="text" ng-model="author" id="sample2">
    <label class="mdl-textfield__label" for="sample2">Author - String</label>
  </div>


<div class="mdl-textfield mdl-js-textfield block">
    <input ng-model="drink.description" class="mdl-textfield__input" type="text" ng-model="description" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Description - String</label>
  </div>
</form>
<h2>Ingredients   <button ng-click="addIngredientObject()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
      <i class="material-icons">add</i>
  </button></h2>

  <div ng-repeat="component in drink.ingredients"  class="mdl-cell mdl-cell--12-col mdl-typography--text-center" style="display:inline-block">

  <div class="mdl-cell mdl-cell--5-col mdl-typography--text-center" style="display:inline-block">
  
  <div class="mdl-textfield mdl-js-textfield block">
    <input ng-model="component.amount" class="mdl-textfield__input" type="text" ng-model="component.amount" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Amount - Number</label>
  </div>
  </div>

    <div class="mdl-cell mdl-cell--5-col mdl-typography--text-center" style="display:inline-block">
  
  <div class="mdl-textfield mdl-js-textfield block">
   
<!-- <select class="mdl-textfield__input" type="text" ng-model="ingr.Type" id="sample1" value="{{ingr.name}}">

<option ng-repeat="ingr in allIngredients" value="{{ingr._id}}">{{ingr.name}}</option>

</select> -->

          <select class="mdl-textfield__input" name="repeatSelect" id="Ingtype" ng-model="component.Type">
      <option value=""></option>
      <option ng-repeat="ingredient in allIngredients" value="{{ingredient._id}}">{{ingredient.name}}</option>
    </select>

    <label class="mdl-textfield__label" for="sample1"></label>
  </div>
  </div>

  </div>

  <h2>Instructions   <button ng-click="addInstructionsString()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
      <i class="material-icons">add</i>
  </button></h2>


    <div ng-repeat="instr in drink.instructions track by $index" class="mdl-textfield mdl-js-textfield block">
    <input class="mdl-textfield__input" type="text" ng-model="instr.text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Instruction - String</label>
  </div>




  <!-- Accent-colored raised button with ripple -->
  <br>
<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="deleteDrink()" style="margin-right:30px">
  delete
</a>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="editDrink()"style="margin-left:30px">
  submit
</button>