<a href="#/"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Back
</a>
<h2>Add New Ingredient</h2>
<form action="" style="align-items: center; padding-left:calc(50% - 150px)">
<div class="mdl-textfield mdl-js-textfield block">
    <input value="{{id}}" class="mdl-textfield__input" disabled type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">ID - Will be automatically assigned</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield block">
    <input class="mdl-textfield__input" type="text" id="sample1" ng-model="name">
    <label class="mdl-textfield__label" for="sample1">Name - String</label>
  </div>


    <div class="mdl-textfield mdl-js-textfield block">
    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="pricePerMl" id="sample2">
    <label class="mdl-textfield__label" for="sample2">Price Per Milliliter - Number</label>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>


<div class="mdl-textfield mdl-js-textfield block">
    <input class="mdl-textfield__input" type="text" ng-model="archType" id="sample1">
    <label class="mdl-textfield__label" for="sample1">ArchType - String</label>
  </div>

  <!-- Accent-colored raised button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="addIngredient()">
  submit
</button>

</form>